In [1]:
from DataLoader import Dataset
import torch
import numpy as np
import pandas as pd

In [5]:
root = "C:/Phanh/BuAnhNet/EAAI23_test/data/"

train_class = root + "train_class.csv"
train_reg = root + "train_reg.csv"

val_class = root + "val_class.csv"
val_reg = root + "val_reg.csv"

test_class = root + "test_class.csv"
test_reg = root + "test_reg.csv"

In [18]:
train_class_df = pd.read_csv(train_class, header=None).loc[:, 1]
train_reg_df = pd.read_csv(train_reg, header=None).loc[:, 1:2]

val_class_df = pd.read_csv(val_class, header=None).loc[:, 1]
val_reg_df = pd.read_csv(val_reg, header=None).loc[:, 1:2]

test_class_df = pd.read_csv(test_class, header=None).loc[:, 1]
test_reg_df = pd.read_csv(test_reg, header=None).loc[:, 1:2]

int64

In [19]:
class_df = pd.concat([train_class_df, val_class_df, test_class_df], ignore_index=True)
reg_df = pd.concat([train_reg_df, val_reg_df, test_reg_df], ignore_index=True)

print(class_df.shape)
print(reg_df.shape)

(291650,)
(291650, 2)

In [21]:
df = pd.concat([class_df, reg_df], axis=1, ignore_index=True)
print(df.shape)
df.head(10)

(291650, 3)

   0         1         2
0  1  0.444444 -0.039683
1  1  0.783972  0.125823
2  1  0.803329  0.096787
3  1  0.537295  0.136957
4  1  0.412698  0.126984
5  6 -0.733207  0.465153
6  1  0.896825  0.158730
7  1  0.777778  0.039683
8  0 -0.012940  0.086266
9  0  0.358196 -0.189633

In [24]:
decoder = {
    0 : 'Neutral',
    1 : 'Happy',
    2 : 'Sad',
    3 : 'Surprise',
    4 : 'Fear',
    5 : 'Disgust',
    6 : 'Anger',
    7 : 'Contempt'
}

for i in np.unique(df.loc[:, 0]) :
    print("Classification:", i, decoder.get(i))
    low_val = np.min((df.loc[df[0] == i]).loc[:, 1])
    high_val = np.max((df.loc[df[0] == i]).loc[:, 1])

    low_ars = np.min((df.loc[df[0] == i]).loc[:, 2])
    high_ars = np.max((df.loc[df[0] == i]).loc[:, 2])

    print("Valence range [{}, {}]".format(low_val, high_val))
    print("Arousal range [{}, {}]".format(low_ars, high_ars))
    print("\n")

Classification: 0 Neutral
Valence range [-0.875919, 0.880952]
Arousal range [-0.831821, 0.769069]


Classification: 1 Happy
Valence range [-0.615763, 0.999081]
Arousal range [-0.944444, 0.968254]


Classification: 2 Sad
Valence range [-0.999081, 0.880952]
Arousal range [-0.971666, 0.929152]


Classification: 3 Surprise
Valence range [-0.938831, 0.895277]
Arousal range [-0.687185, 0.996772]


Classification: 4 Fear
Valence range [-0.904956, 0.324235]
Arousal range [-0.667989, 0.996903]


Classification: 5 Disgust
Valence range [-0.936508, 0.319396]
Arousal range [-0.692025, 0.827526]


Classification: 6 Anger
Valence range [-0.944444, 0.181159]
Arousal range [-0.367789, 0.984127]


Classification: 7 Contempt
Valence range [-0.933991, 0.662989]
Arousal range [-0.556523, 0.904956]